*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 100%;
    background-color: rgb(238, 237, 237)  ;
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
}
.logo h1 a{
    text-decoration: none;
    color: #2e2d2d;

}
.burger{
    width: 10%;
    display: none;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 30%;
    justify-content: space-between;
}
.navbar .icon{
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: space-around;
}
.icon{
    display: flex;
    justify-content: space-between;
    width: 12%;
    color: #2e2d2d;
}
.navbar .icon .input{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.input input{
    height: 35px;
    width: 100%;
    border: solid gray 1px;
    border-radius: 10px;
    background-color: rgba(44, 44, 44, 0.096);
}
.navbar ul li a{
    text-decoration: none;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: rgb(90, 89, 89);
}
.navbar ul li a:hover{
    color: rgb(0, 0, 0);
    transition: all 0.2s;
}

/* Navbar End */

/* Content */
content{
    display: flex
}
.lampu{
    width: 8%;
    margin-left: 5%;
}
.content-tengah{
    margin-top: -27%;
    margin-left: 10%
}
.content-tengah h1{
    font-size: 50px;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1%;
}
.content-tengah h4{
    font-size: 25px;
    font-weight: 350;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.orang-tua{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.orang-tua img{
    width: 50%;
    margin-top: 3%;
    margin-left: 2%;
}
.orang-tua ul li{
    display: flex;
    list-style: none;
    font-size: 10px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 25px;
    cursor: pointer;
}
.orang-tua ul li:hover{
    background-color: rgb(190, 190, 190);
    transition: all 0.5s;
}
.orang-tua ul li iconify-icon{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menara {
    width: 21%;
    margin-left: 70%;
    margin-top: -10%
}
/* Hamburger menu */

.klik{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
    display: none;
}

.klik span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(109, 109, 109);
    border-radius: 3px;
    
}

.klik input:checked ~ span:nth-child(1){
    background-color: black;
}


/* Responsive BP(Breakpoint) */
/* Ukuran Tablet */
@media screen and (max-width: 1407px){
    .navbar ul{
        display: flex;
        align-items: center;
        list-style: none;
        width: 40%;
        justify-content: space-between;
    }
    .lampu{
    width: 10%;
    margin-left: 5%;
    }
    .menara{
        width: 28%;
        margin-left: 75%;
        margin-top: -13%
    }
    .content-tengah{
    margin-top: -38%;
    margin-left: 10%
    }
    .orang-tua img{
    width: 80%;
    margin-top: 10%;
    margin-left: 4%;
    }
    .orang-tua ul li h1{
        display: none;
    }
    .orang-tua ul li:hover{
        background-color: rgb(190, 190, 190);
    }
    .orang-tua ul li iconify-icon{
        margin-left: 5%;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:1242px) {
    
    .navbar ul{
        display: flex;
        align-items: center;
        list-style: none;
        width: 48%;
        justify-content: space-between;
    }
    .menara{
        width: 30%;
        margin-left: 65%;
        margin-top: -5%
    }
    .content-tengah{
        margin-top: -50%;
        margin-left: 10%
    }
    .content-tengah h1{
        font-size: 30px;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1%;
    }
    .content-tengah h4{
        font-size: 15px;
        font-weight: 350;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        line-height: 1.5;
    }
    .content-tengah{
        margin-left: 10%
    }
    .orang-tua img{
        width: 80%;
        margin-top: 30%;
        margin-left: 4%;
    }
    .orang-tua ul li h1{
        display: none;
    }
    .orang-tua ul li:hover{
        background-color: rgb(190, 190, 190);
    }
    .orang-tua ul li iconify-icon{
        margin-left: 5%;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:867px) {

    .navbar ul {
        display: flex;
        flex-direction: column;
        background-color: #adabab;
        width: 60%;
        height: 90vh;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;
        transition: all 1s;
        box-shadow: -6px 19px 29px -3px rgba(0,0,0,0.4);
        -webkit-box-shadow: -6px 19px 29px -3px rgba(0,0,0,0.4);
        -moz-box-shadow: -6px 19px 29px -3px rgba(0,0,0,0.4);
    }
    .navbar ul.slide{
        opacity: 1;
    }
    .navbar .icon{
        display: none;
    }
    .klik{
        display: flex;
        z-index: 1;
    }

    .klik span{
        display: block;
        width: 28px;
        height: 3px;
        background-color: rgb(46, 46, 46);
        border-radius: 3px;
        transition: all 0.5s;
    }

    .klik.active .span1{
        transform: translate(0, 9px) rotate(-40deg);
        transition: all 0.5s;
    }
    .klik.active .span2{
        opacity: 0;
        transition: all 0.5s;
    }
    .klik.active .span3{
        transform: translate(0, -9px) rotate(40deg);
        transition: all 0.5s;
    }

    .menara{
        display: block;
        position: relative;
        width: 30%;
        margin-left: 70%;
        margin-top: 20%;
        z-index: -1;
    }
    .content-tengah{
        margin-top: -60%;
        margin-left: 10%
        
    }
    .content-tengah h1{
        font-size: 30px;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1%;
    }
    .content-tengah h4{
        font-size: 15px;
        font-weight: 350;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        line-height: 1.5;
    }
    .orang-tua img{
        display: none;
    }
    .orang-tua ul li{
        margin-top: 50px;
        margin-left: 250px;
    }
    .lampu{
        width: 20%;
    }


}

@media screen and (max-width:776px) {
    .menara{
        display: flex;
        width: 30%;
        margin-left: 70%;
        margin-top: 22%;
    }
    .content-tengah{
        margin-top: -60%;
        margin-left: 3% 
    }
    .content-tengah h1{
        font-size: 25px;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1%;
    }
    .content-tengah h4{
        font-size: 15px;
        font-weight: 350;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        line-height: 1.5;
    }
}

/* Ukuran Mobile */

@media screen and (max-width:611px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        background-color: #adabab;
        width: 60%;
        height: 90vh;
        position: absolute;
        margin-right: 60%;
        right: 0;
        top: 0;
        z-index: 0;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: all 1s;
        box-shadow: -6px 19px 29px -3px rgba(0,0,0,0.4);
        -webkit-box-shadow: -6px 19px 29px -3px rgba(0,0,0,0.4);
        -moz-box-shadow: -6px 19px 29px -3px rgba(0,0,0,0.4);
    }

    .lampu{
        display: flex;
    }

    .menara{
        display: flex;
        width: 30%;
        margin-left: 60%;
        margin-top: 20%;
    }
    .content-tengah h1{
        font-size: 20px;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1%;
    }
    .content-tengah h4{
        font-size: 10px;
        font-weight: 350;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        line-height: 1.5;
    }
    .content-tengah{
        margin-top: -70%;

    }
    .orang-tua ul li{
        margin-top: 50%;
        margin-left: 150px;
    }
}

@media screen and (max-width:410px) {
    .logo{
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .logo h1 a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #2e2d2d;
        font-size: 60%;
    }
    .logo img{
        width: 20%;
    }
    .menara{
        display: flex;
        width: 30%;
        margin-left: 60%;
        margin-top: 40%;
    }
    .content-tengah h1{
        font-size: 15px;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1%;
    }
    .content-tengah h4{
        font-size: 8px;
        font-weight: 350;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        line-height: 1.5;
    }
    .content-tengah{
        margin-top: -70%;
    }
    .orang-tua ul li{
        margin-top: 50px;
        margin-left: 100px;
    }
    .orang-tua ul li iconify-icon{
        font-size: 310%;
    }
}